.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}


.wide {
  width:100%;
  height:350px;
  background-image:url('../img/catheader.jpg');
  background-size: 100% 110%;
}

.wide img {
  width:100%;
}

.navbar-default {
    padding-left: 10px;
    padding-right: 30px;
}

@media (max-width: 700px) {
.wide {
  padding:0;
  height: 200px;
}
}