<!DOCTYPE html>
<html lang="en">

<head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

      <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

      <script src="/static/js/userHandler.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="google-signin-scope" content="profile email">

    <meta name="google-signin-client_id" content="364352394487-31j351c9j5l1k36gsprbrd81ouomsbs7.apps.googleusercontent.com">


    <title>{{template "Title" .}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Header-image -->
<div class="wide">
</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>  
    <div class="navbar-header">
    <a class="navbar-brand" href="/">Hat for your cat</a>
</div>
  </div>
  
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="/">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/toplist/rate">Top cats<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/toplist/rate">All time mjaow</a></li>
            <li><a href="/toplist/comment">Highest mjaow</a></li>
        </ul>
      </li>
        <li><a href="/about">About</a></li>
        <li><a href="/catmagic">Cat Magic</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a href="/mypage/1">My page</a></li>

      <li><a href="/login">Test mypage</a></li>
      <li><div id="google-signin-button"></div></li>
      <li><p id = "logout"></p></li>
    </ul>
  </div>
</nav>


    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                {{template "Body" .}}
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="/static/js/jquery.js"></script>

    <!-- Our scripts -->
    <script src="/static/js/photoHandler.js"></script>
    <script src="/static/js/canvasDrag.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</div>
    <div class="panel-footer footer"><div class="row">
  <div class="col-xs-6 col-md-4"> M7011E - Design of Dynamic Web Systems</div>
  <div class="col-xs-6 col-md-4">Sophia Caspár - sopcas-1</div>
  <div class="col-xs-6 col-md-4">Niklas Brynolf - nikbry-1</div>
</div>

</body>

</html>
