{{define "Title"}}
Cat Magic
{{end}}

{{define "Body"}}

<html>
<div class="container">
<!--
      <div class="col-sm-2">
        <div id="midCol"  data-offset-top="300">

        <div class="well">
        	<h3>Cat projects</h3>
        	<div class="well">
        	<div class="btn-group">
  			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Open existing project
  			</button>

		  <div class="dropdown-menu">
		    <li><a class="dropdown-item" href="#">Project 1</a></li>
		    <li><a class="dropdown-item" href="#">Project 2</a></li>
		    <li><a class="dropdown-item" href="#">Project 3</a></li>
		  	</div>
			</div>
		</div></div>
		<div class="well">
        	<h4>Start new project</h4>
          <form action="" method="post" enctype="multipart/form-data" id="uploadCat">
              <div class="form-group">
                <input type="file" name="cats[]" id="catPhotoUpload">
              </div>
              <button type="button" class="btn btn-sm btn-primary" id="catUpload" onclick='uploadPhoto()'>Upload</button>

          </form>
        </div></div>
        </div>
        -->
      <div class="col-sm-12">
          <div class="row">
            <div class="col col-sm-12"><h2>Put hats on cats</h2><p>Select an existing project or upload a new cat picture. Use drag and drop to put hats on the cats.</p></div>
          </div>
        	<hr>
        <div class="well">
            <div class="row">
                <div class="col-sm-12">
                    <div class="" id="hatHolder" > 

                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="catPhotoHolder" style="padding:20px"> 
                    <!--<img src="" id="catPhoto" style="max-width:100%; height:auto;">-->

                </div>
                <div id="buttonHolder">
                    <div id="uploadPhoto">
                    <!--<div class="col-sm-4">
                        <form action="" method="post" enctype="multipart/form-data" id="uploadCat">
                    <input type="file" name="cats[]" id="catPhotoUpload">
                    </div></div>
                    <div class="col-sm-4"><button type="button" class="btn btn-sm btn-primary" id="catUploadButton" onclick='uploadPhoto()'>Upload image to start new project</button>
                    </form>-->
                    <input type="button" class="btn btn-sm btn-primary" id="catUploadButton" value="Upload image to start new project" onclick="clickUploadButton()"/>
                    <input type="file" id="catFile" class="fileUpload"/>
                    </div>


                    
                </div>
            </div>
        </div>
        <img src="" id="test"/>
    </div>
             </div> 
</div>

</html>
{{end}}