{{define "Title"}}
Cat Magic
{{end}}

{{define "Body"}}

<html>
<div class="container">
      <div class="col-sm-3">
        <div id="midCol"  data-offset-top="300">

        <div class="well">
        	<h3>Cat projects</h3>
        	<div class="well">
        	<div class="btn-group">
  			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Open existing project
  			</button>

		  <div class="dropdown-menu">
		    <li><a class="dropdown-item" href="#">Project 1</a></li>
		    <li><a class="dropdown-item" href="#">Project 2</a></li>
		    <li><a class="dropdown-item" href="#">Project 3</a></li>
		  	</div>
			</div>
		</div>
		<div class="well">
        	<h4>Start new project</h4>
          <form action="" method="post" enctype="multipart/form-data" id="uploadCat">
              <div class="form-group">
                <input type="file" name="cats[]" id="catPhotoUpload">
              </div>
              <button type="button" class="btn btn-sm btn-primary" id="catUpload" onclick='uploadPhoto()'>Upload</button>

          </form>
        </div></div>

         </div>
      </div>
      <div class="col-sm-7">
          <div class="row">
            <div class="col col-sm-12"><h2>Put hats on cats</h2><p>Select an existing project or upload a new cat picture. Use drag and drop to put hats on the cats.</p></div>
          </div>
        	<hr>
          <div class="row">
            <div class="col-sm-12">
                <div class="well" id="hatHolder" > 
                    <img class = "draggable" src="/static/img/hats/strawhat.png" id="cat" width="20%" height="10%">
                    <img class = "draggable" src="/static/img/hats/tophat.png" id="cat" width="20%" height="10%">

                    <div class="well" id="catPhotoHolder"> 
                        <img src="" id="catPhoto" style="max-width:100%; height:auto;">

                    </div>
                    <button type="button" class="btn btn-sm btn-primary" id="test" onclick='test()'>Test</button>

                </div>
                
      </div>
    </div>
</div>

</html>
{{end}}