<!DOCTYPE html>
<html>
<head>

	<script src="https://apis.google.com/js/platform.js" async defer></script>

	<script src="google.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<meta name="google-signin-client_id" content="364352394487-31j351c9j5l1k36gsprbrd81ouomsbs7.apps.googleusercontent.com">

	<title></title>
</head>
<body>
	<div class="g-signin2" 
	data-theme="dark"
	data-onsuccess="successfulSignIn"
	></div>

	<button href="#" onclick="logOut();">Sign out</button>
</body>
</html>