{{define "Title"}}
Hat4UrCat
{{end}}

{{define "Body"}}
<html>
<h1>Top cats in hats</h1>
 <p class="lead"> Week 50</p>

<div class="row">
  <div class="col-xs-6 col-md-4"> <div class="topcat"><div class="topcat1"></div></div></div>
  <div class="col-xs-6 col-md-4"><div class="testcat1"></div></div>
  <div class="col-xs-6 col-md-4">Grumpy cat in funny hat by catlover01</div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4"> <div class="topcat"><div class="topcat2"></div></div></div>
  <div class="col-xs-6 col-md-4"><div class="testcat1"></div></div>
  <div class="col-xs-6 col-md-4">mjaow by copycat</div>
</div>

</html>
{{end}}